<section>
  <h1>Regime</h1>
  <div>
    <%= button_to "LOG IN", login_path, {method: :get, class: 'btn login-btn'} %>
    <%= button_to "REGISTER", signup_path, {method: :get, class: 'btn signup-btn'} %>
  </div>
</section>
